node_modules/*

# media
*.png
*.mp4

# misc
.DS_Store
.env
npm-debug.log*

# VSCODE
.vscode/*
.vs/*

# reports
mochawesome-report/*
playwright-report/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
